/* info block */

.info-block {
  min-height: 700px;
  background: url(../../images/about-us.jpg) 0 0 / cover no-repeat;
  position: relative;
  z-index: 0;
}

.info-block::before {
  background-color: $color-black;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0.8;
  z-index: 1;
}

.info-block__wrapper {
  position: relative;
  z-index: 3;
  padding: 5px;
}

.info-block__content {
  display: flex;
  gap: 40px;
}

.info-block__text {

  color: $color-white;
  position: relative;
  font-size: 34px;
  max-width: 600px;

  p {
    margin-bottom: 25px;

    span {
      font-weight: 700;
    }
  }

  p:last-child {
    font-style: italic;
  }
}

.info-block__img img {
  width: 100%;
}

.swiper {
  padding-top: 50px;
}


@include for-tablet {
  .info-block__text {
    p {
      font-size: 25px;
    }
  }

  .info-block__content {
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
  }

  .swiper {
    padding-top: 25px;
  }
}